@import 'partials/colors';
@import 'partials/common';

@font-face {
   font-family: ArialRoundedBold;
   src: url(../fonts/ArialRoundedBold.ttf);
}

@font-face {
   font-family: Helvetica;
   src: url(../fonts/Helvetica-01.ttf);
}
