@font-face {
   font-family: ArialRoundedBold;
   src: url(../fonts/ArialRoundedBold.ttf);
}

@font-face {
   font-family: Helvetica;
   src: url(../fonts/Helvetica-01.ttf);
}

@import 'partials/colors';
@import 'partials/breakpoints';
@import 'partials/reset';
@import 'partials/common';
@import 'partials/breakpoints';

@import 'partials/sections/_s-support';