$basicBlack: #303030;
$basicWhite: #FDFDFD;

$dataProtection: #71D456;
$algorithm: #4B5AA7;
$itCulture: #886C60;
$digitalCulture: #FBD303;
$itSecurity: #646b79;

$reassuranceYellow: #FFE852;
$reassuranceOrange: #FFAE2A;
