// Liste des classes
// (voir zeplin pour les numéros)

//2
.headline{}

//1
.themes-label{}

//15
.introduction-box{}

//24
.text-big{}

//9
.themes-icon{}

//10
.themes-icon--digital_culture{}

//11
.themes-icon--security{}

//12
.themes-icon--data_protection{}

//13
.themes-icon--it_culture{}

//14
.themes-icon--algorithm{}

//3
.support-card{}

//5
.support-card--image{}

//4
.support-card--headline{}

//6
// I mixed all the boxes which have a height, width and a background color
@mixin box($backgroundColor, $width, $height) {
  width: $width;
  height: $height;
  background-color: $backgroundColor
}
//25
// This mixin is used if you want to setup the text properties
@mixin text($width, $height, $fontName, $fontSize, $fontWeight, $fontStyle, $fontStretch, $lineHeight, $letterSpacing, $align) {
  width: $width;
  height: $height;
  font-family: $fontName;
  font-size: $fontSize;
  font-weight: $fontWeight;
  font-style: $fontStyle;
  font-stretch: $fontStretch;
  line-height:$lineHeight;
  letter-spacing: $letterSpacing;
  text-align: $align;
}

//21
// This mixin is used for all the nodes which have a height, width, border-radius and a background-color
@mixin item-rounded($width, $height, $borderRadius, $backgroundColor){
  width: $width;
  height: $height;
  border-radius: $borderRadius;
  background-color: $backgroundColor;
}

